@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-gradient {
  background: rgb(48, 102, 179);
  /*background: linear-gradient(
    0deg,
    rgba(3, 46, 106, 1) 0%,
    rgb(10, 25, 51) 80%
  );*/
}
.login-title {
  color: #ffd05a;
  font-weight: 900;
  font-size: 35px;
}
.custom-font {
  font-family: "Filson Pro", sans-serif;
}
.tags {
  * {
    margin: 0 5px;
    padding: 2px 7px;
    border-radius: 25px;
    color: white;
    font-size: 12px;
    font-weight: 600;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .item {
    background-color: green;
  }
  .NPC {
    background-color: red;
  }
  .place {
    background-color: orange;
  }
  .organization {
    background-color: purple;
  }
  .event {
    background-color: blue;
  }
}

.utils-bar span{
  background-color: #ffd05a;
  padding: 8px;
  margin: 0 3px;
  //width: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  border-radius: .5rem .5rem 0 0;
}

.settings li{
  padding: 4px 0;
}


